.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content h1 {
  text-align: center;
  font-size: 3rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content h4 {
  text-align: center;
}


.content .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .cards .card {
  background-color: #fce771;
  width: 30%;
  text-align: center;
  margin: 20px;
  padding: 5px 20px 40px 20px;
  border: 2px solid black;
  border-radius: 12px;
}

.card h2 {
  font-weight: 800;
}

.card p {
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(58, 58, 58)
}
.card a {
  background-color: #f6f0cd;
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  border: 1px solid rgb(106, 106, 106);
  border-radius: 4px;
}

.card a:hover {
  background-color: #e6dca8;
}

.card a:active {
  background-color: #d1c89f;
}
