body {
  margin: 0;
  background-color: #fcfdec
}

nav {
  display: flex;
  overflow: hidden;
  background-color: #fae884;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

nav a {
  color: #000000;
  float: left;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #faf0be
}

nav a.active {
  background-color: #ffda0b;
}

nav a.main {
  font-weight: bold;
}