body {
  margin-top: 70px;
  background-color: #fcfdec;
  overflow: hidden;
}

nav {
  position: fixed;
  height: 45px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fae884;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 1000;
}

nav a {
  color: #000000;
  float: left;
  padding: 12px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #faf0be
}

nav a.active {
  background-color: #ffda0b;
}

nav a.main {
  font-weight: bold;
}