.content {
    margin-left: 30px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.content select {
    height: 1.5rem;
    width: 30rem;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: 600;
}

.content #inputUnit {
    margin-right: 30px;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}