.content {
  margin-left: 30px;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

select {
  height: 1.5rem;
  width: 32.5rem;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 600;
}

#inputUnit {
  margin-right: 30px;
}

#outputUnit {
  border-radius: 100px;
  padding-left: 10px;
  border-width: 1px;
  font-weight: 600;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}