.content {
  margin-left: 30px;
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

select {
  height: 1.5rem;
  width: 34.5rem;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 600;
}

#inputN {
  margin-right: 30px;
}

#output {
  border-radius: 100px;
  padding-left: 10px;
  border: 1px solid rgb(96, 96, 96);
  font-weight: 600;
}

#warning {
    color: red;
    margin-top: 30px;
    font-size: 1.2rem;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}