.content {
    margin-left: 30px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

table {
  width:80%; 
  margin:auto;
}

th, td {
  border:1px solid black;
}

td {
  text-align: center;
}

#income {
  margin-right: 30px;
}

#tax {
  border-radius: 100px;
  padding-left: 10px;
  border-width: 1px;
  font-weight: 600;
}


/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}