.content {
    margin-top: 4vh;
    margin-left: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 27.5vw 27.5vw 40vw;
    grid-template-rows: 44vh 36vh;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Payroll Table*/
table {
  width: 90%; 
  margin: auto;
}

th, td {
  border: 1px solid black;
  font-size: 0.9rem;
}

th {
  position: sticky;
  top: 6vh;
  height: 2.5rem;
  background-color: #fcfdec;
  z-index: 1;
}

.content .table {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

/*Inputs CSS*/
.content .inputs {
  position: fixed;
  top: 10.3vh; 
  left: 3vw;
  width: 25vw; 
  border: 1px solid black;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.content .inputs h2 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.inputs label {
  grid-column: 1;
}

.inputs input {
  grid-column: 2;
  max-height: 1rem;
}

/*Buttons CSS*/
.content .buttons {
  position: fixed;
  top: 58vh; 
  left: 3.9vw;
  width: 25vw; 
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2rem 2rem 2rem;
  gap: 1rem;
}

.buttons #addRow {
  grid-column: 1 / 2;
  grid-row: 1;
}

.buttons #deleteRow {
  grid-column: 2 / 3;
  grid-row: 1;
}

.buttons #save {
  grid-column: 1 / 2;
  grid-row: 2;
}

.buttons #retrieveSave {
  grid-column: 2 / 3;
  grid-row: 2;
}

.buttons #deleteAll {
  grid-column: 1 / 3;
  grid-row: 3;
  color: red;
}

/*Dialog CSS*/
dialog form {
  text-align: center;

}
dialog form button {
  width: 40%;
}

.btnYes {
  background-color: rgb(191, 254, 191)
}

.btnNo {
  background-color: rgb(253, 175, 175)
}