.content {
    margin: 2vh 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

table {
  width:80%; 
  margin:auto;
}

th, td {
  border:1px solid black;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}