.content {
    margin-top: 4vh;
    margin-left: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: 27.5vw 27.5vw 42vw;
    grid-template-rows: 44vh 36vh;
}

table {
  width: 85%; 
  margin: auto;
}

th, td {
  border: 1px solid black;
  font-size: 0.9rem;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content .inputs {
  border: 1px solid black;
  padding: 0 20px;
  margin-bottom: -10px;
  grid-column:1/2;
  grid-row: 1/2;
  display: inline grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5rem;
}

.content .inputs h2 {
  grid-column: 1 / 3;
}

.inputs label {
  grid-column: 1;
}

.inputs input {
  grid-column: 2;
  max-height: 1 rem;
}

.content .buttons {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2rem 1rem 2rem 1rem 2rem;
}

.buttons #addRow {
  grid-column: 1 / 2;
  grid-row: 1;
  margin: 0 5px;
}

.buttons #deleteRow {
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 0 5px;
}

.buttons #deleteAll {
  grid-column: 1 / 3;
  grid-row: 3;
  color: red;
  margin: 0 5px;
}

.buttons #save {
  grid-column: 1 / 2;
  grid-row: 5;
  margin: 0 5px;
}

.buttons #retrieveSave {
  grid-column: 2 / 3;
  grid-row: 5;
  margin: 0 5px;
}

.content .table {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

/*Dialog CSS*/
dialog form button {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.btnYes {
  background-color: rgb(191, 254, 191)
}

.btnNo {
  background-color: rgb(253, 175, 175)
}