.content {
    font-family: Arial, Helvetica, sans-serif;
}

/*Hides input arrows*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#filler {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color:#fcfdec;
  z-index: 1;
}

#scrollBandaid {
  background-color:#fcfdec;
  height: 800px;
}
/*Payroll Table*/
.content table {
  width: 50%;
  min-width: 500px;
  margin-left: 525px;
  margin-top: -21px;
}

th, td {
  border: 1px solid black;
  font-size: 0.9rem;
}

#rowDisplay tr:nth-child(even) {
  background-color: rgb(238, 238, 236);
}

#rowDisplay tr:nth-child(odd) {
  background-color: rgb(249, 249, 142);
}

.content th {
  position: sticky;
  top: 90px;
  background-color: #fcfdec;
  line-height: 1.5;
  padding: 10px;
  z-index: 2;
}

/*Inputs CSS*/
.content .inputs {
  position: fixed;
  top: 90px; 
  left: 50px;
  width: 380px;
  height: 310px;
  border: 1px solid black;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  z-index: 2;
}

.content .inputs h2 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.inputs label {
  grid-column: 1;
}

.inputs input {
  grid-column: 2;
  max-height: 1rem;
}

.inputs #grossPay, .inputs #netPay {
  border-radius: 100px;
  border: 1px solid rgb(135, 135, 135);
  padding-left: 10px;
  font-weight: 600;
}

/*Buttons CSS*/
.content .buttons {
  position: fixed;
  top: 425px; 
  left: 63px;
  width: 380px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2rem 2rem 2rem;
  gap: 1rem;
  z-index: 2;
}

.buttons *:hover {
  background-color: rgb(225, 225, 225);
}

.buttons *:active {
  background-color: rgb(200, 200, 200);
}

.buttons #addRow {
  grid-column: 1 / 2;
  grid-row: 1;
  border: 1px solid black;
}

.buttons #deleteRow {
  grid-column: 2 / 3;
  grid-row: 1;
  border: 1px solid black;
}

.buttons #save {
  grid-column: 1 / 2;
  grid-row: 2;
  border: 2px solid black;
}

.buttons #retrieveSave {
  grid-column: 2 / 3;
  grid-row: 2;
  border: 2px solid black;
}

.buttons #deleteAll {
  grid-column: 1 / 3;
  grid-row: 3;
  color: red;
  border: 2px solid red;
}

/*Dialog CSS*/
dialog form {
  text-align: center;

}
dialog form button {
  width: 41%;
}

.btnYes {
  background-color: rgb(126, 255, 126);
}

.btnYes:hover {
  background-color:rgb(195, 251, 195);
}

.btnYes:active {
  background-color:rgb(177, 227, 177);
}

.btnNo {
  background-color: rgb(255, 121, 121);
}

.btnNo:hover {
  background-color: rgb(255, 171, 171);
}

.btnNo:active {
  background-color: rgb(228, 162, 162);
}